body{
    background-image: url(./img/pc\ 3.jpeg);
    background-size:cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
img{
    width: 270px;
    height: 270px;
    border-radius: 15px;
    z-index: 2;
}
.strong{
    color: #ff0e87;
}
.strong-2{
    color: #b1f1ff;
}
.cabecalho_sobre{
    display: flex;
    font-family: "Montserrat", sans-serif;
    padding: 2% 0 0 10%;
    width: 100%;
    justify-content: end;
    margin-right: 380px;
}
.cabecalho_menu ul{
    display: flex;
    gap: 10px;
}
.cabecalho_menu ul :hover{
    background-color: #96034cc4;
}
.cabecalho_menu ul a{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho_link{
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid  #ff0e87;
    width: 150px;
    height: 30px;
    background-color: rgba(27, 4, 19, 0.918);
    font-size: 18px;
    color: #eeffd8;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 10px 0 10px 0;
    gap: 6px;
}

main{
    display: flex;
    width: 1000px;
    background-color: rgba(27, 4, 19, 0.918);
    border-radius: 15px;
    border: 2px solid #ff0e87;
    padding: 30px;
    margin-top: 60px;
    justify-content: center;   
}
.area-txt {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: center;
    font-size: 14px;
    width: 800px;
    padding-left: 45px;
    gap: 20px;
    text-align: center;

}
.area-txt p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    color: #eeffd8;
}
.area-txt h1 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.area-txt h2 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 12px;
}
.area-txt-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #ff0e87;
    background-color: rgba(28, 66, 4, 0.384);
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px;
    padding: 16px;
}
.area-txt-container img{
    width: 70px;
    height: 70px;
    padding: 08px;
}
.area-img-logos {
    justify-content: center;
    display: flex;
    align-items: center;
}
.area-img-logos a :hover{
    transform: scale(1.3);
}
.area-img img {
    border: 2px solid  #22D4FD;
}
figcaption{
    font-family:"Montserrat", sans-serif;
    margin-bottom: 20px;
}
#dio_img{
    width: 150px;
}
.area-txt-painel{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 16px;
}
.area-txt-painel-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.area-txt-painel a, .area-txt-painel-2 a{
    text-decoration: none;
    background-color: rgba(13, 27, 4, 0.918);
    padding: 5px 15px;
    color: #eeffd8;
    font-family:"Montserrat", sans-serif;
    border: 1px solid #36ff0e;
    border-radius: 6px;
}
.area-txt-painel-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 16px;
}
.area-txt-painel img, .area-txt-painel-2 img{
    width: 100%;
    height: auto;
}
.area-txt-painel p, .area-txt-painel-2 p{
    font-size: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 12px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}
.links h2{
    font-family:"Montserrat", sans-serif;
    color: #36ff0e;
}
.links_button{
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid  #22D4FD;
    width: 250px;
    height: 30px;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #b1f1ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 10px 0 10px 0;
    gap: 6px;
}
.links_button:hover{
    background-color: rgba(18, 46, 1, 0.918);
}
.linkedin_logo, .github_logo{
    width: 18px;
    height: 18px;
}

.footer_bar{
    background-color: rgba(27, 4, 19, 0.918);
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.footer_bar_area{
    padding: 14px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}


@media (max-width: 1100px) {
    .detail {
        display: none;
    }
}

@media (max-width: 768px){
    main{
        width: 700px;
        grid-template-columns: repeat(1 , 1fr);
        gap: 30px;
        text-align: center;
    }
    .cabecalho_sobre{
        padding: 2% 0 0 0%;
        width: auto;
        margin-right: 0;
    }
    .area-txt{
        padding-left: 0;
    }
}

@media (max-width: 425px){
    main{
        width: 300px;
    }
    .cabecalho_menu ul{
        width: 260px;
    }
    .cabecalho_menu ul a{
        font-size: 11px;
    }
    .area-txt h1, .area-txt p{
        font-size: 14px
    }
    .area-txt{
        padding-left: 0;
        width: 230px;
    }
    img{
        width: 230px;
        height: 230px;
    }
    .footer_bar_area p{
        font-size: 10px;
    }
    .links h2 {
        font-family: "Montserrat", sans-serif;
        color: #5fe2ff;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .links_button{
        width: 200px;
    }
}